<!-- directive component -->
<!-- <my-first [isFav]='favStat' (change)="favChange()">
  <div class="heading">My Custom Header Here</div>
  <div class="body">Itshare course</div>
</my-first> -->
<!-- <span class="glyphicon" [class.glyphicon-heart]="isFav" [class.glyphicon-heart-empty]="!isFav"
(click)="onFavClick()">

</span> -->

<!-- pipes -->
<!-- <div>


  {{ employees.salary | currency:'usd':true}}

</div> -->

<!-- custom pipes -->
<!-- <div>
  {{ name | summary }}
</div> -->




<!-- structure directive > ngFor -->
<ul>
  <li *ngFor="let p of persons; let i=index"> {{i+1}} - {{p}}</li>
</ul>
<!-- ngFor Group By for Nested Array of Objects -->
<ul *ngFor="let group of peopleByCountry">
  <li>{{ group.country }}</li>
  <ul>
    <li *ngFor="let people of group.names">{{people.name}}</li>
  </ul>
</ul>

<!-- ngFor add and remove items and trackBy -->
<button (click)="onAdd()">ADD</button>
<ul>
  <li *ngFor="let course of courses ; trackBy: trackByCourse">
    {{course.courseName}}
    <button (click)="onRemove(course)">remove</button>
  </li>
</ul>

<!-- ngIf  > for show is found courses or not? -->
<div *ngIf="courses.length > 0">
  <ul>
    <li *ngFor="let course of courses ; trackBy: trackByCourse">
      {{course.courseName}}
      <button (click)="onRemove(course)">remove</button>
    </li>
  </ul>
</div>

<div *ngIf="courses.length == 0">
  NO COURSES YET
</div>
<!-- anther way to ngIf with ngTemplate -->
<div *ngIf="courses.length > 0 ; then coursesList else noCourses"></div>
<ng-template #coursesList>
  <ul>
    <li *ngFor="let course of courses ; trackBy: trackByCourse">
      {{course.courseName}}
      <button (click)="onRemove(course)">remove</button>
    </li>
  </ul>
</ng-template>

<ng-template #noCourses>
  No courses yet
</ng-template>
<!-- ngIf vs Hidden Properity -->
<div [hidden]="courses.length === 0">
  <ul>
    <li *ngFor="let course of courses ; trackBy: trackByCourse">
      {{course.courseName}}
      <button (click)="onRemove(course)">remove</button>
    </li>
  </ul>
</div>

<div [hidden]="courses.length > 0">
  NO course
</div>

<!-- ngSwitchCase -->
<ul class="nav nav-pills">
  <li [class.active]="defaultView === 'Courses'">
    <a (click)="setView ('Courses')" >Courses</a>
  </li>
  <li [class.active]="defaultView === 'Certifications'">
    <a (click)="setView ('Certifications')" >Certifications</a>
  </li>
</ul>

<div [ngSwitch]="defaultView">
  <div *ngSwitchCase="'Courses'">List of Courses</div>
  <div *ngSwitchCase="'Certifications'">List of Certifications</div>
</div>

<!-- ngStyle -->
<button [ngStyle]="
{
  'backgroundColor' : whatColor? 'yellow' :'gray' ,
  'color' :  whatColor? 'red' :'black' ,
  'fontWeight' : whatColor? 'bold' :'normal'
}
">Style</button>

<!-- Custom Directives -->
<input type="text" CustomDirectives [format]="'toUpperCase'">
